.container {
  margin: 50px 0;
  text-align: center;
}

.container h1 {
  color: brown;
  margin-bottom: 20px;
}

.container p {
  color: rgb(113, 113, 113);
}

.container a {
  cursor: pointer;
  text-decoration: none;
  background-color: brown;
  color: rgb(208, 184, 184);
  padding: 7px 7px;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}

.container a:hover {
  background-color: rgb(208, 184, 184);
  color: brown;
}
